
/* .................................Bacon color.................................. */

.Bacon{
    background-color: green;
}

/* .................................Broccoli .................................. */

.Broccoli{
    background-color: red;
}

/* .................................image hopver .................................. */

img:hover{
    background-color: gold;
}

/* .................................circular image.................................. */

.circular{
    border-radius: 100%;
}

/* .................................heading font & color .................................. */

h1
{
    font : size 50px;
    color: red
}
/* .................................heading id .................................. */

#Heading{
    color: blue;
}